{{- define "main" -}}
{{ $pub_types := partial "functions/get_pub_types" $ }}
{{ $pub_type_param := .Params.publication_types | default (slice 0) }}

{{/* Convert string in form `"0"` to int (`0`) */}}
{{ $pub_type := (int (index $pub_type_param 0)) | default 0 }}

{{/* Validate Pub Type if defined */}}
{{ if gt $pub_type (sub (len $pub_types) 1) }}
  {{ warnf "Unknown publication type in %s" .File.Path }}
  {{ $pub_type = 0 }}
{{ end }}

<div class="pub">
  {{ partial "page_header.html" . }}

  <div class="article-container">
  <kbd>{{.Params.venue}}</kbd>
    {{ if or (.Params.award) (.Params.ugrad) }}
    {{ end }}
    {{ if .Params.award }}
    <awd>{{.Params.award}}</awd>
    {{ end }}
    {{ if .Params.ugrad }}
    <ugrs>Undergraduate Research</ugrs>
    {{ end }} 

    {{ if .Params.acm_available }}
    <a href="https://www.acm.org/publications/policies/artifact-review-and-badging-current#available" class="acm_avail"></a>
    {{ end }}
    {{ if .Params.acm_functional }}
    <a href="https://www.acm.org/publications/policies/artifact-review-and-badging-current#functional" class="acm_func"></a>
    {{ end }}
    {{ if .Params.acm_reusable }}
    <a href="https://www.acm.org/publications/policies/artifact-review-and-badging-current#reusable" class="acm_reuse"></a>
    {{ end }}
    {{ if .Params.acm_reproduced }}
    <a href="https://www.acm.org/publications/policies/artifact-review-and-badging-current#reproduced" class="acm_repr"></a>
    {{ end }}
    {{ if .Params.acm_replicated }}
    <a href="https://www.acm.org/publications/policies/artifact-review-and-badging-current#replicated" class="acm_repl"></a>
    {{ end }}

    {{ if .Params.abstract }}
    <h3>{{ i18n "abstract" }}</h3>
    <p class="pub-abstract">{{ .Params.abstract | markdownify }}</p>
    {{ end }}

    {{ partial "page_footer" . }}
  </div>
</div>
{{- end -}}

